<h3>Credit goes to <a target="_blank" href="https://valor-software.com/ng2-charts/">https://valor-software.com/ng2-charts/</a></h3>
<h3>Installation - npm install --save ng2-charts</h3>
<h3>In App module ts file -</h3>

<!-- import { ChartsModule } from 'ng2-charts';
imports: [
      ChartsModule
    ] -->

<div style="width: 33.3%; float: left;">
    <h1>Line Chart</h1>
    <app-line-chart></app-line-chart>
</div>

<div style="width: 33.3%; float: left;">
    <h1>Bar Chart</h1>
    <app-bar-chart></app-bar-chart>
</div>

<div style="width: 33.3%; float: left;">
    <h1>Doughnut Chart</h1>
    <app-doughnut-chart></app-doughnut-chart>
</div>

<div style="width: 33.3%; float: left;">
    <h1>Pie Chart</h1>
    <app-pie-chart></app-pie-chart>
</div>

<div style="width: 33.3%; float: left;">
    <h1>Radar Chart</h1>
    <app-radar-chart></app-radar-chart>
</div>

<div style="width: 33.3%; float: left;">
    <h1>Polar area Chart</h1>
    <app-polararea></app-polararea>
</div>

<div style="width: 33.3%; float: left;">
    <h1>Bubble Chart</h1>
    <app-bubble-chart></app-bubble-chart>
</div>

<div style="width: 33.3%; float: left;">
    <h1>Scatter Chart</h1>
    <app-scatter-chart></app-scatter-chart>
</div>
